<!-- Example 1: -->

<h1>{{title}}</h1>
<h2>{{hero.name}} details!</h2>
<div><label>ID : </label>{{hero.id}}</div>
<div><label>NAME : </label>{{hero.name}}</div>
<div><label>Name : </label> <input [(ngModel)] = 'hero.name' placeholder='name'></div>
<div></div>
<div></div>
<div></div>

<!-- Example 2: -->

<h2>My Heroes goes here</h2>
<ul class="heroes"><li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click) = 'onSelect(hero)'>
<span class="badge">{{hero.id}}</span> {{hero.name}}
</li>  
</ul>
<div *ngIf="selectedHero">
    <h2>Selected Hero : {{selectedHero.name}} </h2>
    <div><span>Selected Hero ID : </span> <span>{{selectedHero.id}}</span></div>
    <div><span>Selected Hero NAME : </span> <input [(ngModel)]="selectedHero.name"></div>
</div>

<!-- Example 3: -->

<hero-detail [hero]="selectedHero"></hero-detail>